.dv-input-area{
  display:flex;
  align-items: center;
  position: relative;
  .dv-input-center{
    flex: 1;
    .dv-input{
      width: 100%;
      line-height: 1.429;
      box-sizing: border-box;
      padding: 12px 20px 12px 10px;
      color: #666;
    }
  }
  .dv-input-clear{
    position: absolute;
    right: 0px;
    padding: 6px;
    color: #666;
  }
}