.dv-toast{
    position: fixed;
    z-index: 1000;
    max-width: 80%;
    left: 50%;
    border-radius: 5px;
    padding: .2rem;
    color: #fff;
    text-align: center;
    font-size: 16px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
}
.dv-toast-middle{
    top: 50%;
}
.dv-toast-top{
    top: 0%;
}
.dv-toast-bottom{
    bottom: 10%;
}