.dv-upload {
  .dv-upload-btn{
    width: 80px;
    height: 80px;
    position: relative;
    border: 2px dashed red;
    background-color: #f0f0f0;
    .upload-btn{
      position: absolute;
      right: 50%;
      top: 50%;
      font-size: 30px;
      transform: translate3d(50%, -50%, 0);
    }
  }
  .dv-upload-input{
    font-size: 0;
    opacity: 0;
  }
}