// color
@success-color          : #19be6b;

// Base
@body-background        : #fff;
@font-size-base         : 14px;

//Padding
@padding-10             : 10px;
@padding-14             : 14px;


//Border color
@border-color-split     : #f0f0f0;

// Background color