.charge-wrapper{
  position: fixed;
  left: 0;
  right: 0;
  z-index: 990;
  bottom: 0;
  text-align: center;
  background-color:#fff; 
  width: 100%;
  box-sizing: border-box;
  .charge-title{
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .charge-footer{
    padding: 18px 10px;
  }
  .charge-wrapper-list {
    overflow: auto;
    min-height: 240px;
    background: #f0f0f0;
  }
}
.charge-mask{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 998;
  background-color: rgba(0, 0, 0, .1); 
}